<mat-toolbar><button   class="m-2" mat-mini-fab color="primary" (click)="back()" >
    <mat-icon>arrow_back</mat-icon>
  </button><span class="m-auto">Product Details</span>
  </mat-toolbar>
<div class="container mt-5">

  <div class="row">
      <div class="col-5">

          <div class="card image-container p-5">
              <img [src]="product.productImage" class="product-zoom-image">
          </div>
      </div>
      <div class="col-6">
          <div class="product-information">
              <div class="mt-3">
                  <h2>{{product.productName}}</h2>
              </div>
              <div class="mt-3">
                  Description: <br>
{{product.productDescription}}
                </div>
              <div class="mt-3">
                  <b>Rs. {{product.productDiscountedPrice}}</b>&nbsp;&nbsp;<b style="text-decoration: line-through;">{{product.productActualPrice}}</b>
              </div>
              
              <div class="mt-5 text-center">
                  <button mat-raised-button color="warn" style="width: 200px;" *ngIf="userService.roleMatch(['User'])  || !isLoggedin()" (click)="payment()">Buy Now</button>
                  &nbsp;
                  <button mat-raised-button style="width: 200px;" *ngIf="(userService.roleMatch(['User']) || !isLoggedin()) && !check" (click)="addTocart()">Add to Cart</button>
                  <button mat-raised-button style="width: 200px;" *ngIf="(userService.roleMatch(['User']) || !isLoggedin()) && check" (click)="goTocart()">Go to Cart</button>

              </div>
          </div>
      </div>
  </div>
</div>