<mat-toolbar><button  class="m-2" mat-mini-fab color="primary" (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<span class="m-auto">Signup</span>
</mat-toolbar>
<div class="container-sm mt-5 col-md-5">
  <div class="card" style="padding: 20px">
    <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Firstname</mat-label>
        <input
          type="text"
          required
          ngModel
          #userFirstName="ngModel"
          name="userFirstName"
          id="userFirstName"
          matInput
          placeholder="Firstname"
        />
        <mat-hint *ngIf="userFirstName.invalid && userFirstName.touched" style="color: red;">Firstname is required</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Lastname</mat-label>
        <input
          type="text"
          required
          ngModel
          #userLastName="ngModel"
          name="userLastName"
          id="userLastName"
          matInput
          placeholder="Lastname"
        />
        <mat-hint *ngIf="userLastName.invalid && userLastName.touched" style="color: red;">Lastname is required</mat-hint>

      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input
          type="text"
          required
          ngModel
          #userName="ngModel"
          name="userName"
          id="userName"
          matInput
          placeholder="Username"
        />
        <mat-hint *ngIf="userName.invalid && userName.touched" style="color: red;">Username is required</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input
          type="password"
          required
          ngModel
          #userPassword="ngModel"
          name="userPassword"
          id="userPassword"
          matInput
          placeholder="Password"
        />
        <mat-hint *ngIf="userPassword.invalid && userPassword.touched" style="color: red;">Password is required</mat-hint>

      </mat-form-field>
      <button [disabled]="signupForm.invalid" class="w-100" type="submit" mat-raised-button color="primary">
        Signup
      </button>
    </form>
  </div>
</div>
