<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MGram</title>


  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

 </head>

<body>

  <section id="title">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color:white;"><mat-icon>eco</mat-icon>MGram</a>

      <div class="row">
        <div class="col-lg-6">
          
          <h1>Find out exciting products & coupons</h1>
          <button type="button" class="btn btn-dark btn-lg download-button" routerLink="product">Products</button>
          <button type="button" class="btn btn-outline-light btn-lg" routerLink="ShowcouponstouserComponent">Coupons</button>
        </div>
        <div class="col-lg-6">
          <img class="title-image" alt="" src="../../assets/images/iphone6.png">
        </div>
      </div>
    </div>
  </section>


  <!-- Features -->
  <section id="features">
    <div class="row">
      <div class="feature-box col-lg-4">
        <mat-icon>check_circle</mat-icon>
        <h3>Easy to use.</h3>
        <p>So easy to use, any one could use it.</p>
      </div>
      <div class="feature-box col-lg-4">
        <mat-icon>verified</mat-icon>
        <h3>Verified Products</h3>
        <p>We have all verified products and news.</p>
      </div>
      <div class="feature-box col-lg-4">
        <mat-icon>mood</mat-icon>
        <h3>Guaranteed to best services.</h3>
        <p>We provide best across the country.</p>
      </div>

    </div>

  </section>


  <!-- Testimonials -->

  <section id="testimonials">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-pause="hover">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>Best Products and service are provided here.</h2>
          <img class="test-image" src="../../assets/images/lady-img.jpg" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">All the Products are in good quality.</h2>
          <img class="test-image" src="../../assets/images/lady-img.jpg" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




  </section>


  <!-- Press -->

  <section id="press">
    <img class="press-logo" src="../../assets/images/TechCrunch.png" alt="tc-logo">
    <img class="press-logo" src="../../assets/images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="../../assets/images/mashable.png" alt="mashable-logo">

  </section>

  <section id="pricing">

    <h2>A Plan for Buying New Phone and Clothes.</h2>
    <p>Simple and affordable price of produts with exciting offers.</p>
    <div class="row">
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>News</h3>
          </div>
          <div class="card-body">
            <h3>Differnt News Accros the Country</h3>
            <p>Daily News</p>
            <p>Trust-worthy news</p>
            <p>Across the Country</p>
            <button class="btn btn-lg btn-dark btn-block" type="button" routerLink="ShownewstouserComponent">News</button>
          </div>
        </div>
      </div>
<div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
          <h3>Products</h3>
        </div>
        <div class="card-body">
          <h3>Differnt Types Of Products</h3>
          <p>Lowest Price</p>
          <p>Best Services</p>
          <p>Verified Products</p>
          <button class="btn btn-lg btn-dark btn-block" type="button" routerLink="product">Products</button>
        </div>
      </div>
</div>
<div class="pricing-column col-lg-4">
   <div class="card">
          <div class="card-header">
            <h3>Coupons</h3>
          </div>
          <div class="card-body">
            <h3>Coupons For All Products</h3>
            <p>Easy to Appy</p>
            <p>Get Discount on products</p>
            <p>Verified Coupons</p>
            <button class="btn btn-lg btn-dark" type="button" routerLink="ShowcouponstouserComponent">Coupon</button>
          </div>
        </div>
</div>


    </div>
  </section>


  <!-- Pricing -->



  <!-- Call to Action -->

  <section id="cta">
<div class="container fluid">


    <h3 class="dto">We have three exciting products that are useful for you.</h3>
    <button type="button" class="btn btn-dark btn-lg download-button" href="#pricing">Check Out</button>
   
</div>
  </section>


  <!-- Footer -->

  <footer id="footer">

    <p>© Copyright 2023 MGram</p>
  </footer>


</body>

</html>